body{
    font-style: Menlo;
}


h2{
    color: #444;
}

.label{
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    color: #444;
}

.label-green{
    background-color: green;
    color: #fff;
}